<div class="container">
  <h1>Cocktails</h1>
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <%= cl_image_tag("u5ankkbki0zdqnamwuul.png", width: 200, height: 200, crop: :fill) %>
      <h4>
        <%= link_to(cocktail_path(cocktail.id)) do %>
          <%= cocktail.name %>
        <% end %>
      </h4>
      <p>Some blurb about the cocktail</p>      
    </div>
  <% end %>
</div>
