<div class="container">
  <h1>Cocktails</h1>
  <div class="d-flex">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag cocktail.photo.key, crop: :fill %>
        <div class="card-body">
          <%= link_to(cocktail_path(cocktail.id)) do %>
            <h5 class="card-title"><%= cocktail.name %></h5>
          <% end %>
          <p class="card-text">The effect of the Pan-galactic Gargle Blaster is like having your brain smashed out by a slice of lemon wrapped round a large gold brick.</p>
        </div>
      </div>
    <% end %>
  </div>
